.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.table-wrapper:before {
  content: 'Scroll horizontally >';
  display: block;
  text-align: right;
  font-size: 11px;
  color: white;
  padding: 0 0 10px;
}

.table {
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.table__row:nth-child(even) {
  background: #f8f8f8;
}

.table__header {
  color: #ffffff;
  background: #4fc3a1;
}
.table__head:nth-child(even) {
  color: #ffffff;
  background: #324960;
}

.table__cell {
  padding: 8px;
  text-align: center;
  padding: 8px;
  border-right: 1px solid #f8f8f8;
  font-size: 16px;
}
