<!doctype html>
<html>

<head>
    <title>Create Quiz - Software Quiz</title>
    <script src="{{ url_for('static', filename='create_quiz.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>
  <nav class="bar_box">
    <div class="nav-wrapper teal lighten-2 class">
      <a href="{{ url_for('root') }}" class="brand-logo center">Quiz Creation</a>
    </div>
  </nav>

  <div id="configContainer" class="row">
    <h3 id="Question Counter"></h3>
    <h3>Choose an Option:</h3>
    <div id="numberOfQuestions">Your quiz currently has 0 questions.</div>
    <button id="createButton" class="waves-effect waves-light btn-small">Create Question</button>
    <button id="submitButton" class="waves-effect waves-light btn-small">Submit Quiz</button>
  </div>

  <div class="container" id="container">
    <div class="row hide" id="chooseContainer">
      <h3>Choose a type of question:</h3>
      <button id="multipleChoice" class="waves-effect waves-light btn-small">Multiple Choice</button>
      <button id="shortAnswer" class="waves-effect waves-light btn-small">Short Answer</button>
      <button id="checkAll" class="waves-effect waves-light btn-small">Check All That Apply</button>
      <button id="trueOrFalse" class="waves-effect waves-light btn-small">True Or False</button>
      <button id="backButton" class="waves-effect waves-light btn-small">Back</button>
    </div>

    <div class="row" id="questionContainer">
      <h5 class="hide" id="questionText">Question:</h5>
      <input class="hide" id="inputQuestion" placeholder="Question"></input>
      <h5 class="hide" id="answerOneText">Answer One:</h5>
      <input class="hide" id="inputOne" placeholder="Answer"></input>
      <h5 class="hide" id="answerTwoText">Answer Two:</h5>
      <input class="hide" id="inputTwo" placeholder="Answer"></input>
      <h5 class="hide" id="answerThreeText">Answer Three:</h5>
      <input class="hide" id="inputThree" placeholder="Answer"></input>
      <h5 class="hide" id="answerFourText">Answer Four:</h5>
      <input class="hide" id="inputFour" placeholder="Answer"></input>
      <button class="waves-effect waves-light btn-small hide" id="addButton">Submit Question</button>
    </div>

    <div class="row" id="successContainer">
      <h3 class="hide" id="successText">Quiz Submitted.</h3>
    </div>
  </div>
</body>

</html>